/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --- GRID --- */

body {
    background-color: #FBFAF5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 55vh 60vh 35vh 15vh 45vh 55vh 80vh 35vh;
    grid-template-areas: 
    "nav"
    "header"
    "readme"
    "tech"
    "project"
    "project1"
    "project2"
    "why"
    "footer"
    ;
}

.nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

.readme {
    grid-area: readme;
}

.tech {
    grid-area: tech;
}

.project {
    grid-area: project;
}

.project1 {
    grid-area: project1;
}

.project2 {
    grid-area: project2;
}

.why {
    grid-area: why;
}

.footer {
    grid-area: footer;
}

/* NAVBAR */

/* nav {
    background-color: #FBFAF5;;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    line-height: 80px;
    padding: 0 30px;
    font-family: 'Orbitron', sans-serif;
    text-transform: lowercase;
}

.logo1, .logo2, .logo3, .logo4 {
    font-size: 1.2em;
    padding: 0;
}

.logo1 {
    color:#efb5b0;
}

.logo2 {
    color: #f4ead6;
}

.logo3 {
    color:#879818;
}

.logo4 {
    color: #384b03;
}

nav ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f4ead6;
    top: 80px;
    left: -100%;
    text-align: center;
}

nav ul li  {
    display:block;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #879818;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5%;
    text-transform: uppercase;
}

a:hover {
   color:#384b03;
}

.menu {
    font-size: 30px;
    color: #384b03;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}

.checkbox {
    display: none;
}

.checkbox:checked ~ ul {
    left: 0;
} */

nav {
    background-color: #FBFAF5;;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    line-height: 74px;
    padding: 0 30px;
    font-family: 'Orbitron', sans-serif;
    text-transform: lowercase;
    display: inline-block;
}

.logo1, .logo2, .logo3, .logo4 {
    font-size: 1.2em;
    padding: 0;
}

.logo1 {
    color:#efb5b0;
}

.logo2 {
    color: #f4ead6;
}

.logo3 {
    color:#879818;
}

.logo4 {
    color: #384b03;
}

nav ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f4ead6;
    top: 80px;
    text-align: center;
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #879818;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5%;
    text-transform: uppercase;
    text-decoration: none;
}

li a:hover {
    color:#384b03;
 }

.menu {
    font-size: 30px;
    color: #384b03;
    float: right;
    margin-right: 40px;
    margin-top: 25px;
    cursor: pointer;
    display: block;
}

button {
    border: none;
    background-color: transparent;
}

button .fas {
    font-size: 30px;
    float: right;
}

button + .menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

button.menu-open + .menu {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
}
 
button.menu-open + .menu ul {
    left: -2px;
}

/* HEADER */

header {
    background-color: #FBFAF5;
    background-image: url('/img/alessio-soggetti-sky.jpeg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;  
}

.social-media {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 50px;
}

.social-links {
    color: #000
}

.fa-github, .fa-linkedin-in {
    font-size: 50px;
    padding: 0 5px;
}

.job-title {
    position: absolute;
    left: 5%;
    top: 25%;
    
}

h1 {
    font-size: 0.8em;
    text-transform: uppercase;
}

.job-title h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.8em;
    line-height: 1;
    margin: .2em 0;
}


.img-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -15%;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: #efb5b0;
    border-radius: 50%;
    border: 3px solid #f4ead6;
}

img {
    height: 118px;
    width: 118px;
}

/* SECTIONS */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-div {
    max-width: 80%;
}

.section-h2 {
    max-width: fit-content;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5%;
    background-color: #efb5b0;
    text-transform: lowercase;
    font-family: 'Orbitron', sans-serif;
}
    
.section-div p {
    padding-top: 20px;
}

.line {
    display: inline-block;
    height: 6px;
    width: 50px;
    border-top: 3px dotted #efb5b0;
}

/* README */

.readme a {
    color: #efb5b0;
}

.readme a:hover {
    color:white;
    background-color: #efb5b0;
}

/* TECH */

.tech {
    background-color: white;
}

/* PROJECTS */

.card {
  margin: 20%;
  box-shadow: 0 4px 8px 0 #efb5b0;
}

.card::before {
    'project'
    
}

.card:hover {
  box-shadow: 0 10px 20px 0 #efb5b0;
}

.card a {
  text-decoration: none;
  color: #000;
}

.text-btns {
    padding: 5px;
    line-height: 1.5;
}

.text-btns h3 {
    color: #efb5b0;
}

.card a img {
  width: 100%;
  height: auto;
  }

.card div img {
    width: 100%;
    height: auto;
}  

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  height: 18px;
  width: 50px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5%;
  padding: 6px;
  color: white;
  background-color: #879818;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Why */

.why {
    background-color: white;
}

.why a {
    color:#efb5b0
}

.why a:hover {
    color:white;
    background-color: #efb5b0;
}

/* Footer */

.footer {
    background-image: url("/img/alessio-soggetti-sky-footer.jpeg");
    background-color: #FBFAF5;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .fa-brands {
    font-size: 20px;
}

.footer a {
    color: #000;
    padding: 10px
}

.footer h2 {
    margin-bottom: 25px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 678px) {
    
    body {
        grid-auto-columns: 1fr 1fr;
        grid-template-rows: 80px 65vh 35vh 25vh 15vh 55vh 50vh 45vh;
        Grid-column-gap: 20px;
        grid-template-areas: 
        "nav nav"
        "header header"
        "readme readme"
        "tech tech"
        "project project"
        "project1 project2"
        "why why"
        "footer footer"
    }

    .card {
        margin: 0%
    }

    .project1 {
        margin-left: 20%;
    }

    .project2{
        margin-right: 20%;
    } 

    h1 {
        font-size: 1.2em; 
    }

    .job-title h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 4.5em;
        line-height: 1;
        margin: .2em 0;
    }


    .job-title p {
        font-size: 1.3em;
        margin-top: 4em;
    }

    .img-container {
        justify-content: right;
        bottom: 30%;
        right: 8%;
    }

    .img-div {
        height: 163px;
        width: 163px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .readme {
        margin-top: 0;
    }
    }

@media only screen and (min-width: 829px) {
    
    .menu {
        display: none;
    }
    
    nav ul {
    /* position: inherit; */
    max-width: 70%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 150px;
    text-align: center;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        font-size: 16px;
    }

    nav li a:hover {
        transition: 0.4s;
        background-color: #879818;
        color: #FBFAF5;
}
}    
    
@media only screen and (min-width: 952px) {
    
    .body {
        grid-template-rows: 80px 55vh 35vh 25vh 15vh 65vh 55vh 25vh;
        grid-template-areas: 
        "nav nav"
        "header header"
        "readme readme"
        "tech tech"
        "project project"
        "project1 project2"
        "why why"
        "footer footer"
    }
   
    .logo {
        font-size: 35px;
    }

    nav ul li a {
        font-size: 17px;
    }

    .img-container {
        justify-content: center;
        right: 0;
        left: 15%;
        bottom: 20%;    
    }

    .img-div {
        height: 250px;
        width: 250px;
    }

    img {
        height: 230px;
        width: 230px;
    }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

