
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  margin: auto;
  text-align: center;
  margin: 20px;
  flex: 1 1 0px;
  min-width: 0;
}

.card:hover {
  box-shadow: 0 20px 40px 0 rgba(229, 78, 78, 0.2);
}

.card a {
  text-decoration: none;
  color: #000;
}

.text-btns {
    margin: 0 7%;
}

.text-btns p {
  text-align: left;
}

.card a img {
  width: 100%
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.btn {
  height: 10px;
  width: 50px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5%;
  padding: 6px;
  color: white;
  background-color: pink;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card button:hover {
  opacity: 0.7;
}


@media  (min-width: 670px) {
  .project {
    margin: 0 15%
  }
  
  .cards {
    flex-direction: row;
  }
}