* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* --- GRID --- */

body {
    background-color: #FBFAF5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 55vh 45vh 35vh 10vh 45vh 55vh 35vh 35vh;
    grid-template-areas: 
    "nav"
    "header"
    "readme"
    "tech"
    "project"
    "project1"
    "project2"
    "why"
    "contact"
    ;
}

.nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

.readme {
    grid-area: readme;
}

.tech {
    grid-area: tech;
}

.project {
    grid-area: project;
}

.project1 {
    grid-area: project1;
}

.project2 {
    grid-area: project2;
}

.why {
    grid-area: why;
}

/* NAVBAR */

nav {
    background-color: #FBFAF5;;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    line-height: 80px;
    padding: 0 30px;
    font-family: 'Orbitron', sans-serif;
    text-transform: lowercase;
}

.logo1, .logo2, .logo3, .logo4 {
    font-size: 1.2em;
    padding: 0;
}

.logo1 {
    color:#efb5b0;
}

.logo2 {
    color: #f4ead6;
}

.logo3 {
    color:#879818;
}

.logo4 {
    color: #384b03;
}

ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f4ead6;
    top: 80px;
    left: -100%;
    text-align: center;
}

nav ul li  {
    display:block;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #879818;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5%;
    text-transform: uppercase;
}

a:hover {
   color:#384b03;
   ;
}

.menu {
    font-size: 30px;
    color: #384b03;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}

.checkbox {
    display: none;
}

.checkbox:checked ~ ul {
    left: 0;
}

/* HEADER */

header {
    background-color: #096809;
    background-image: url('/img/alessio-soggetti-sky.jpeg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;  
}

.social-media {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 50px;
}

.fa-github, .fa-linkedin-in {
    font-size: 50px;
    padding: 0 5px;
}

.job-title {
    position: absolute;
    left: 5%;
    top: 25%;
    
}

h1 {
    font-size: 0.8em;
    text-transform: uppercase;
}

.job-title h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.8em;
    line-height: 1;
    margin: .2em 0;
}


.img-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -15%;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    background-color: #efb5b0;
    border-radius: 50%;
    border: 3px solid #f4ead6;
}

img {
    height: 118px;
    width: 118px;
}

/* SECTIONS */

.section {
    border: 1px solid black;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-div {
    max-width: 80%;
}

.section-h2 {
    max-width: fit-content;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5%;
    background-color: #efb5b0;
    text-transform: lowercase;
    font-family: 'Orbitron', sans-serif;
}
    
.section-div p {
    padding-top: 20px;
}

.line {
    display: inline-block;
    height: 6px;
    width: 50px;
    border-top: 3px dotted #efb5b0;
}

/* README */

.readme a {
    color: #efb5b0;
}

.readme a:hover {
    color:white;
    background-color: #efb5b0;
}

/* TECH */

.tech {
    background-color: white;
}

/* PROJECTS */

.card {
  margin: 20%;
  box-shadow: 0 4px 8px 0 #efb5b0;
}

.card:hover {
  box-shadow: 0 10px 20px 0 #efb5b0;
}

.card a {
  text-decoration: none;
  color: #000;
}

.text-btns {
    padding: 5px;
    line-height: 1.5;
}

.text-btns h3 {
    color: #efb5b0;
}

.card a img {
  width: 100%;
  height: auto;
  }

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  height: 18px;
  width: 50px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5%;
  padding: 6px;
  color: white;
  background-color: #879818;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why {
    background-color: white;
}

/* Media Queries */
@media only screen and (min-width: 678px) {
    
    body {
        grid-auto-columns: 1fr 1fr;
        grid-template-rows: 80px 55vh 35vh 25vh 15vh 55vh 40vh;
        Grid-column-gap: 20px;
        grid-template-areas: 
        "nav nav"
        "header header"
        "readme readme"
        "tech tech"
        "project project"
        "project1 project2"
        "why why"
        "contact contact"
    }

    .card {
        margin: 0%
    }

    .project1 {
        margin-left: 20%;
    }

    .project2{
        margin-right: 20%;
    } 
    
    .menu {
        display: none;
    }
    
    ul {
    /* position: inherit; */
    max-width: 70%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 150px;
    text-align: center;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        font-size: 16px;
    }

    li a:hover {
        transition: 0.4s;
        background-color: #879818;
        color: #FBFAF5;
}

    h1 {
        font-size: 1.2em; 
    }

    .job-title h2 {
        font-family: 'Orbitron', sans-serif;
        font-size: 4.5em;
        line-height: 1;
        margin: .2em 0;
    }


    .job-title p {
        font-size: 1.3em;
        margin-top: 4em;
    }

    .img-container {
        justify-content: right;
        bottom: 30%;
        right: 8%;
    }

    .img-div {
        height: 163px;
        width: 163px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    .readme {
        margin-top: 0;
    }
    }
    
@media only screen and (min-width: 952px) {
    
    .body{
        grid-template-rows: 80px 55vh 35vh 25vh 15vh 65vh 40vh;
    }
   
    .logo {
        font-size: 35px;
    }

    nav ul li a {
        font-size: 17px;
    }

    .img-container {
        justify-content: center;
        right: 0;
        left: 15%;
        bottom: 20%;    
    }

    .img-div {
        height: 250px;
        width: 250px;
    }

    img {
        height: 230px;
        width: 230px;
    }
}